
/* Mobile Responsive Styles */
@media (max-width: 768px) {

  .sm-none {
  display: none;
}
.sm-show {
  display: flex !important;
}


  .hamburger {
    display: flex;
  }

  .nav-menu {
    position: fixed;
    top: -20px;
    left: -100%;
    width: 88%;
    max-width: 400px;
    height: 100vh;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(15px);
    padding: 80px 30px 30px;
    flex-direction: column;
    gap: 30px;
    /* box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1); */
    z-index: 1006;
    transition: left 0.3s ease;
    /* border-radius: 0 10px 10px 0; */
  }

  .nav-menu.active {
    left: -13px;
    top: -20px;
  }

  .nav-container {
    padding: 15px;
  }
.nav-links a {
  font-size: 20px;
}
  
.nav-links {
  gap: 20px;
}
  .nav-links {
    flex-direction: column;
    text-align: left;
    justify-content: left;
    width: 100%;
    margin-left: 10px;
    margin-top: 20px;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .section-title {
    font-size: 2rem;
    margin-bottom: 10px;
    line-height: 1.2;
  }

  .story-content-plans {
    grid-template-columns: 1fr;
    gap: 40px;
  }
.story-content {
      grid-template-columns: 1fr;

}
  .story-text h2 {
    font-size: 2rem;
    text-align: center;
  }

  .image-grid {
    height: 400px;
  }

  .contact-content {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .contact-form-wrapper h2 {
    font-size: 2rem;
  }

  .features-grid {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .why-choose-us {
    padding: 40px 0;
  }
  .projects-content {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }

  .projects-text h2 {
    font-size: 2.5rem;
  }

  .projects-gallery {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .project-item {
    height: 250px;
  }

  .footer-content {
    grid-template-columns: 1fr;
    gap: 40px;
    z-index: 999;
    position: relative;
  }

  .footer-links {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .footer-toggle {
    display: block;
  }

  .footer-menu,
  .footer-contact {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .footer-menu.active,
  .footer-contact.active {
    max-height: 300px;
    margin-top: 5px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 0px;
    text-align: left;
    padding-top: 15px;
    border: none;
    display: flex;
    align-items: left;
  }
  
  .footer-content {
    margin-bottom: 20px;
  }
  .footer-logo {
    align-items: center;
    justify-content: center;
  }
  .footer-description {
    border-bottom: 1px solid #719327;
    padding-bottom: 20px;
    max-width: 100%;
    text-align: justify;
  }
/* key services responsive styles start */
  .key-services-content {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }

  .key-services-title {
    font-size: 2rem;
    text-align: center;
  }

  .key-services-item-header {
    /* flex-direction: column; */
    align-items: flex-start;
    /* padding: 10px; */
  }

  .key-services-description {
    padding: 0 10px 10px 10px;
  }

  .key-services-item.active .key-services-description {
    padding: 0 10px 10px 0px;
  }
.key-services-icon {
  width: 30px;
  height: 30px;
  padding: 6px;
}


  .key-services-image {
    position: relative;
    top: 0;
    margin-bottom: 30px;
  }

  .key-services-img {
    max-width: 100%;
    height: auto;
  }
  /* key services responsive styles end */

/* Outdoor Fresh Responsive Styles start */
.outdoor-fresh-content {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }

  .outdoor-fresh-title {
    font-size: 2.2rem;
    text-align: center;
  }

  .outdoor-fresh-description {
    text-align: left;
    font-size: 1rem;
  }

  .outdoor-fresh-img {
    max-width: 100%;
    height: 300px;
  }
  /* Outdoor Fresh Responsive Styles end */

  /* Faq Section responsive styles start */
  .faq-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .faq-item-header {
    padding: 20px 0;
  }
  
  .faq-number {
    font-size: 1.5rem;
    margin-right: 20px;
    min-width: 30px;
    font-weight: 700;
  font-family: var(--font-geist);
  }
  
  .faq-question {
    font-size: 1.1rem;
  }
  
  .faq-answer {
    padding: 0 0 20px 50px;
    font-size: 1rem;
  }
  
  .faq-item.active .faq-answer {
    padding: 0 0 20px 50px;
  }
  
  .faq-toggle-icon {
    width: 35px;
    height: 35px;
  }
  /* Faq Section responsive styles end */

  /* CONTACT SECTION RESPONSIVE STYLES IN SERVICES DETAILS */
  .contact-content {
    gap: 60px;
  }
  .contact-submit-btn {
  width: 100%;
}
  .contact-images {
    height: 400px;
  }
  
  .contact-image-1 {
    width: 240px;
    height: 170px;
  }
  
  .contact-image-2 {
    width: 280px;
        height: 170px;
        bottom: 45px;
        left: 0px;
    
  }
  
  .contact-image-3 {
    width: 80%;
    /* height: auto; */
    top: 0px;
    right: 0px;
  }
  /* CONTACT SECTION RESPONSIVE STYLES IN SERVICES DETAILS END */


  .customer-info {
    flex-direction: column;
  }
  .customer-photo {
    width: 100%;
  }
  .service-contact-section {
    padding: 40px 0;
  }
}

@media (max-width: 480px) {
  .nav-container {
    padding: 15px 20px;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .btn {
    padding: 12px 24px;
    font-size: 14px;
    width: 100%;
  }

  .service-card {
    padding: 30px 20px;
  }

  .services {
    padding: 40px 0;
  }
  .service-detail-sec .services {
  margin-top: 0px;
}
/* .services-swiper.swiper-backface-hidden .swiper-slide {
  margin-right: 20px !important;
} */
  .story {
    padding: 40px 0;
  }
.swiper-nav {
  margin-top: 20px;
}
.services-swiper {
  padding-bottom: 0;
}
  .contact-form-wrapper h2 {
    font-size: 1.8rem;
  }

  .features-grid {
    gap: 0px;
  }

  .feature-item {
    padding: 0px 0 10px 0;
  }

  .projects-text h2 {
    font-size: 2rem;
  }

  .projects-gallery {
    gap: 10px;
  }

  .footer {
    padding: 40px 0 20px;
  }

  .footer-content {
    gap: 15px;
  }

  .footer-links {
    gap: 0px;
  }

  .footer-column h4 {
    font-size: 16px;
  }
  .footer-menu {
    gap: 0px;
  }
.footer-column-header {
  /* border-bottom: 1px solid #719327d3; */
}
.footer-column {
    border-bottom: 1px solid #719327d3;
  padding-bottom: 15px;
  margin-bottom: 15px;

}
.footer-column-header {
  margin-bottom: 0;
}
  .social-links {
    gap: 10px;
  }

  .social-link {
    width: 35px;
    height: 35px;
  }

/* key services responsive styles start */
   .key-services-section {
    padding: 50px 0 40px;
  }

  .key-services-title {
    font-size: 1.8rem;
  }

  .key-services-item h3 {
    font-size: 1.3rem;
  }

  .key-services-description {
    font-size: 1rem;
  }
  /* key services responsive styles end */

  /* Outdoor Fresh Responsive Styles start */
  .outdoor-fresh-section {
    padding: 40px 0;
  }
.outdoor-fresh-image {
  margin-bottom: 20px;
}
  .outdoor-fresh-title {
    font-size: 1.8rem;
  }

  .outdoor-fresh-description {
    font-size: 1rem;
    text-align: justify;
  }

  .outdoor-fresh-img {
    height: 250px;
  }
  /* Outdoor Fresh Responsive Styles end */

  /* Faq Section responsive styles start */
  .faq-section {
    padding: 0px 0;
  }
  
  .faq-title {
    font-size: 2rem;
  }
  
  .faq-item-header {
    padding: 15px 0;
  }
  
  .faq-number {
    font-size: 1.2rem;
    margin-right: 15px;
    min-width: 25px;
  }
  
  .faq-question {
    font-size: 1rem;
  }
  
  .faq-answer {
    padding: 0 0 15px 40px;
    font-size: 0.95rem;
  }
  
  .faq-item.active .faq-answer {
    padding: 0 0 15px 40px;
  }
  
  .faq-toggle-icon {
    width: 30px;
    height: 30px;
  }
  .faq-item {
    padding-bottom: 0;
  }
  /* .faq-answer {
    padding: 0 10px 10px 10px;
  } */
  .faq-toggle-arrow {
    width: 10px;
    height: 10px;
  }
  

  /* Faq Section responsive styles end */

  /* CONTACT SECTION RESPONSIVE STYLES IN SERVICES DETAILS START */
  .contact-title {
    font-size: 2rem;
    text-align: center;
  }
  
  .contact-form-input,
  .contact-form-textarea {
    font-size: 1rem;
  }
  
  .contact-form-label {
    font-size: 1rem;
  }
  
  .contact-images {
    height: 280px;
    /* max-width: 320px; */
    width: 100%;
    position: relative;
  }
  
  /* .contact-image-1 {
    width: 160px;
    height: 110px;
  }
  
  .contact-image-2 {
    width: 180px;
    height: 120px;
    bottom: 30px;
    left: 15px;
  }
  
  .contact-image-3 {
    width: 110px;
    height: 160px;
    top: 60px;
    right: 30px;
  } */
  /* CONTACT SECTION RESPONSIVE STYLES IN SERVICES DETAILS end */


  .story-title-plans {
    font-size: 2rem;
  }
  .story-subtitle-plans {
    line-height: 1.3;
    font-size: 1.1rem;
    color: #00100F;
    font-family: var(--geist-light);
    font-weight: 68;
  }
  .story-section {
    padding: 40px 0;
  }
  .vision-ptn.absolute-pattern img,.mission-ptn.absolute-pattern img {
  height: auto;
}
.vision-content,.mission-content {
  grid-template-columns: 1fr;
  gap: 20px;
}
.vision-title ,.mission-title{
  font-size: 2rem;
}
.vision-section {
  padding: 40px 0 0;
}
.mission-section {
  padding: 40px 0;
  margin-bottom: 0;
}
.vision-img,.mission-img {
  height: 300px;
}
}
